<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
        
            <div>
                <%= user.name %>
                <br>
                <%= user.username %>
                <br>
                <%= user.email %>
                <br>
                <%= user.phoneno %>
                <br>
                <%= user.github %>
                <br>
                <%= user.linkedin %>
                <br>
                <%= user.skill %>
                <br>
                <%= user.price %>
                <br>
                <a href="/charge/<%=user._id %>">
                    <button>Buy Now</button>
                </a>
                <a href="/ratings/<%= user._id %>">
                    <button>
                        Meeting over? Give a rating
                    </button>
                </a>
            </div>
        
</body>
</html> -->
<!DOCTYPE html>
<html>
<title>Details</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">

  <div class="w3-card-4 w3-dark-grey" style="width:50%">

    <div class="w3-container w3-center">
      <h3>User Details</h3>
      <img src="https://images.unsplash.com/photo-1497316730643-415fac54a2af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="Avatar" style="width:80%">
      <h5> Name : <%= user.name %> </h5>
      <br>
      <h5> Username : <%= user.username %> </h5>
      <br>
      <h5> Email : <%= user.email %> </h5>
      <br>
      <h5> Github : <%= user.github %> </h5>
      <br>
      <h5> LinkedIn : <%= user.linkedin %> </h5>
      <br>
      <h5> Skills : <%= user.skill %> </h5>
      <br>
      <h5> Price : <%= user.price %> </h5>
      <br>
      <% if(!user.totalAmount) { %>
        <h5> Total Amount Earned : 0 </h5>
      <% } else { %>
        <h5> Total Amount Earned : <%= user.totalAmount %> </h5>
      <% } %>  
      <br>
      <% if(!user.avgRating) { %>
        <h5> Average Rating : 0 </h5>
      <% } else { %>
        <h5> Average Rating : <%= user.avgRating %> </h5>
      <% } %>  
      <div class="w3-section">
        <a href="/charge/<%=user._id %>"><button class="w3-button w3-green">Buy Now</button></a> 
       <a href="/ratings/<%= user._id %>"><button class="w3-button w3-red">Rate</button></a> 
      </div>
    </div>

  </div>
</div>

</body>
</html>
