<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Display</title>
</head>
<body>
    <% for(var i=0; i < user.length; i++) { %>
        <% if(user[i].username!=username) { %>
        <a href="/about/<%= user[i]._id %>">
        <div>
    <%= user[i].name %>
    <br>
    <%= user[i].skill %>
        </div>
        </a>
        <% } %>
    <% } %>
    <a href="/logout"><button>logout</button></a>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Display</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <style type="text/css">
  /* .grid-container {
  display: grid;
  grid-gap: 50px 100px;
} */
/* .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
} */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="lib/geolib.js"></script>
</head>
<body>
<div class="grid-container">
 <% for(var i=0; i < user.length; i++) { %>
    <% if(user[i].username!=username) { %>
 

  <div class="card grid-item" style="width:400px">
    <img class="card-img-top" src="https://images.unsplash.com/photo-1468436139062-f60a71c5c892?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title"><%= user[i].name %></h4>
      <p class="card-text"><%= user[i].skill %></p>
      <a  href="/about/<%= user[i]._id %>" class="btn btn-primary" >See Profile</a>
  </div>
  <% } %>
<% } %> 
</div>
<!-- <a  href="/logout" class="btn btn-primary">Logout</a> -->
</body>
</html>
